# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Ambientes Virtuais ---
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# --- Dados do Projeto (Segurança e LGPD) ---
# Ignora a pasta onde estarão os XMLs de teste e os Excels gerados
data/
*.xml
*.xlsx
*.csv
*.zip

# --- Configurações de IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Variáveis de Ambiente ---
.env
.venv

rascunho/